---
import Icon from './Icon.astro'
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Capabilities</h2>
        <p>
            Sora can generate videos up to a minute long while maintaining visual quality and adherence to the user’s
            prompt.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Safety</h2>
        <p>
            We’ll be taking several important safety steps ahead of making Sora available in OpenAI’s products. We are
            working with red teamers — domain experts in areas like misinformation, hateful content, and bias — who will
            be adversarially testing the model.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Research</h2>
        <p>
            Sora is capable of generating entire videos all at once or extending generated videos to make them longer.
            By giving the model foresight of many frames at a time, we’ve solved a challenging problem of making sure a
            subject stays the same even when it goes out of view temporarily.
        </p>
    </div>
</section>

<style>
    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>
